[Unit]
Description=Kibana
Documentation=https://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=

User=elastic
Group=elastic
PIDFile=/home/apps/kibana/log/kibana.pid

ExecStart=/home/apps/kibana/app/bin/kibana

Restart=always

[Install]
WantedBy=multi-user.target
